<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {{ product.unit_price }} {% endcomment %}
    <h1>Hello Bro</h1>
    {% for product in products %}
        <h1>Title: {{ product.name }}</h1>
        <p>Price: {{ product.unit_price }} $</p>
        {% for order_item in product.order_items.all %}
            <p> Quantity: {{ order_item.quantity }} </p>
        {% endfor %}
        <hr>
    {% endfor %}

    {% comment %} {% for product in products %}
    <h1>{{ product.datetime_created }}</h1>
    <h1>{{ product.id }}</h1>
        <h1>{{ product.name }}</h1>
        <p>{{ product.unit_price }} $</p>
        <p>{{ product.category.title }}</p>
        <hr>
    {% endfor %} {% endcomment %}
    {% comment %} {% for customer in customers %}
        <h1> {{ customer.first_name }}  {{ customer.last_name }} </h1>
        <h1> {{ customer.email }} </h1>
        <h1> {{ customer.birth_date }} </h1>
    {% endfor %}
    {% for a in q %}
    <h1>{{ a.order.datetime_created }}</h1>
    <h1>{{ a.order.status }}</h1>
    <h1>{{ a.order.customer.first_name }}</h1>
    <h1>{{ a.order.customer.last_name }}</h1>
    <h1>{{ a.order.customer.email }}</h1>
    <h1>{{ a.order.customer.phone_number }}</h1>
    <h1>{{ a.order.customer.birth_date }}</h1>
    <h1>{{ a.product.name }}</h1>
    <h1>{{ a.product.category.title }}</h1>
    <h1>{{ a.product.category.description }}</h1>
    <h1>{{ a.product.category.top_product }}</h1>
    <h1>{{ a.product.slug }}</h1>
    <h1>{{ a.product.description }}</h1>
    <h1>{{ a.product.unit_price }}</h1>
    <h1>{{ a.product.inventory }}</h1>
    <h1>{{ a.product.datetime_created }}</h1>
    <h1>{{ a.product.datetime_modified }}</h1>
    <h1>{{ a.product.discount }}</h1>

    <h1>{{ a.quantity }}</h1>
    <h1>{{ a.unit_price }}</h1>
    {% endfor %} {% endcomment %}
</body>
</html>